  div label {
  /*display: block;
  color: black;
  font-size: 12px;
  position: relative;
  top: -35px;
  left: 90px;*/

  display: block;
  /*background: white;*/
  color: black;
  font-size: 12px;
  position: relative;
  z-index: 1;
  /*top: -18px;*/
  bottom: 19px;
  left: 15px;
  }

  #pattern-editor.control {
    display:none;    
  }

  div.ctrlchange {
    float:left;
    margin-right: 10px;
  }

  div.ctrlchange input {

  -webkit-appearance: none;
  height: 50px;
  /*min-width: 40px;*/
  background: #efefef; /*white*/
  border-radius: 4px;
  border: none;
  color: #555;
  font-weight: bold;
  /*padding: 0 5px;*/

  position: relative;
  /* top: -20px; */
  padding-bottom: 10px ! important;
  padding-left: 15px !important;

  width:30px;
  /*min-width:30px;*/  

  }

  #modifiers {
  margin-top: 10px;    
  margin-left: 5px;    
  }

  #pattern-editor td/*, #sequencer-view td*/ {
  color: #777;
  }

  #pattern-editor td h1 {
  color: black;
  text-shadow: none ! important;
  }  