  div label {
  /*display: block;
  color: black;
  font-size: 12px;
  position: relative;
  top: -35px;
  left: 90px;*/

  display: block;
  /*background: white;*/
  color: black;
  font-size: 12px;
  position: relative;
  z-index: 1;
  /*top: -18px;*/
  bottom: 19px;
  left: 15px;
  }

  #pattern-editor.control {
    display:none;    
  }

  div.ctrlchange {
    float:left;
    margin-right: 20px; /*30*/
    position: relative;
    margin-bottom: 30px; /*20 */
  }

  div.ctrlchange input {
  text-indent: 5px;  
  -webkit-appearance: none;
  height: 50px;
  /*min-width: 40px;*/
  background: #efefef; /*white*/
  border-radius: 0; /* 4px*/
  border: none;
  color: #555;
  font-weight: bold;
  /*padding: 0 5px;*/

  position: relative;
  /* top: -20px; */
  /*padding-bottom: 10px ! important;
  padding-left: 15px !important;*/
  padding: 0 !important;

  width:30px;
  /*min-width:30px;*/  

  }

  #modifiers {
  /*margin-top: 10px; */   
  /*margin-left: 10px;  */
  /*display:none; 
  opacity:0; */
  /*height: 20%;*/
  display:block; /* inline- */
  clear:both;
  /*width: 600px; /* 100% */
  /*margin-left: 80px;*/
  }

  #pattern-editor {
  /*display:none !important;*/
  opacity:0;
  margin-bottom: 20px;
  float:left;
  width:100%; /* 95*/
  /*margin-left: 80px;*/
  }  

  #pattern-editor td/*, #sequencer-view td*/ {
  color: #777;
  }

  #pattern-editor td h1 {
  color: black;
  text-shadow: none ! important;  
  }  

  #instructions/*, .roundedTwo*/ {
  position: relative; 
  background: black;  
  color: lightgrey;
  border-radius: 5px;
  padding: 15px;
  z-index: 500;   
  width: 100%;
  margin-left: auto;
  margin-right: auto;  
  font-size: 30px; 
  display:none;  
  position: fixed;
  left:-2px;
  top:-10px; /*-5*/
  /*text-align: center;*/
} 
  .roundedTwo span,
  #instructions span {
  color: white;
  font-weight: bold;
}  

#instructions span#countdown {

font-size: 7vw; /*5 - 10*/

}

.waiting #instructions {
  display:block;
}  


/*.waiting*/ input#roundedTwo {
  height: 0;
  min-width: 0;
  background: none;  
} 

/* ROUNDED TWO */
.roundedTwo {
  margin-left: 15px;  
  width: 28px;
  height: 28px;
  background: #fcfff4;

  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
  /*margin: 20px auto;*/

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;

  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  position: relative;
}

.roundedTwo label {
  color:white;
  left: 40px;  
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  left: 4px;
  top: 4px;

  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
  -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

  background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
  background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
  background: -o-linear-gradient(top, #222 0%, #45484d 100%);
  background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
  background: linear-gradient(top, #222 0%, #45484d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.roundedTwo label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 5px;
  left: 4px;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.roundedTwo label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
}

.roundedTwo input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

.roundedTwo > span {
  display: inline;
  font-size: 12px;
  width: 200px;
  float: left;
  bottom: 17px; /* 11 */
  position: relative;
  left: 38px; /*35 */
}

#channelinfo {
  color: white;
  font-size: 14px;
  display:block;
  /*margin-left: 80px;*/
  /*padding-bottom: 12px;*/
  margin-bottom: 8px;
}

body.control #channelinfo {
  /*height: 60px;*/
  margin-bottom: 40px;
}

option.channel {
  /*opacity: 0.3;*/
  background-color: blue;
}

option.user {
  /*opacity: 0.3;*/
  background-color: #BCEBBC;
}

option.session {
  /*opacity: 0.3;*/
  background-color: orange;
}

select#patterns {
  /*height: 40px;*/
}

.ctrlchange.slider.horizontal /*.vertical*/ {

  /*width: 260px;*/ /* replace with percent of width - 50px */
  /*height: 100px;*/ /*150 - 300 - 220*/
  display: inline; /* -block */
  margin-bottom: 0; /* 20 */
  margin-right: 20px;
  margin-left: 24px;
  padding-bottom: 20px; /* 20 */
  position: relative;
  margin-top: -50px; /* -40*/
  /*overflow: hidden;*/
}

.ctrlchange.slider.horizontal.first {
  /*margin-top: 0px;*/  
}


.ctrlchange.slider.vertical {

  width: 60px; /* replace with percent of width - 50px - 80 */
  height: 200px; /*150 - 300 - 220*/
  margin-bottom: 85px; /* 80 */
  /*display: inline;  -block 
  */
  /*margin-right: 20px;
  padding-bottom: 20px;*/
}

/*
.ctrlchange.slider.horizontal {
  width: 120px;
  height:50px;
  display: inline;
  margin-bottom: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
} 
*/

.ctrlchange.slider label {
  /*position: relative;
  top:1px;
  color: white;*/
}  

div.button.contact {
  /*width: 50px;
  height: 50px; 
  position: relative; */

  /*width:100%;
  display:inline-block;*/
  position: relative;
  width: 160px; 
}

.ctrlchange input.save,
input#pattern-name {
  /*width:220px;*/  
  /*display: inline-block;
  float: left;  */
  width: 100%; /*200px*/
  border-radius: 0;
  height: 50px; /*60*/
  font-weight: normal;
  font-size: 15px;  
}

div.button.contact label {
  /*width:200px;
  position: absolute;
  top: 30px;  */
}  

div.button.contact canvas {
  /*display: inline-block;
  float: left; */
  border: solid 1px grey;
  margin: 10px;
}  

div.button.contact span {
  color:white;
}  


.canvas-container {

  width: 100%; /*65px - 50px*/
  height: 100%; /* 150 170 */
  /*display: inline-block;*/
  /*padding: 5px;*/
}  

.horizontal .canvas-container {
  /*width: 170px;
  height:50px;*/
  /*width:100%;
  height:100%;*/

  width: 200px; /* 260*/
  height: 100px;
}  

.canvas-container canvas {
  
  /*display:block;*/
}


.interfacePanel {
    display: block;
    float: right;
    height: 300px;
    left: 0;
    /*width: 50%;*/
    width: 180px;
}

#sliderPanel {
  /*display:none;*/
  /*display: block;*/
}

#pattern-editor tr {
  /*min-height: 20px;
  max-height: 40px;
  height: 30px;*/
}

th#playhead { /* remove playhead from being displayed */
  display: none;
}


.horizontal .infoContainer {
position: absolute;
  bottom: 10px; /*20 - 30*/
  display: block;
  width: 100%;
  height: 80px; /* 60 */
  background-color: black;
}



.ctrlchange.button.contact input {
  /*float:left;*/
  display:inline-block;
}

.ctrlchange.button.contact canvas {
  float:left;
  display:inline-block;
  /*width: 30%;
  height: 30%;*/
}

a.trigger-button {

  
  text-align: center;
  /* vertical-align: middle; */
  /*line-height: 29px;
  width: 70px; */
  /* height: 70px; */
  background: #389838; /* greenyellow*/
  text-decoration: none;
  /*border: 1px solid grey;*/
  color: black;
  /*margin-left: 10px;*/
  /*border-radius: 8px;*/
  position: relative;
  z-index: 5;

  display: inline-block; /* inline
  /*float: left;*/
  clear:both;

  /*left: 45px;*/
  /*padding: 5px;*/
  padding: 12px 0 12px 0;
  width: 100%;
  margin-top: 2px; /* 15 */  

}

.ctrlchange label {
  /*position: absolute;
  bottom: 2px;*/
}

.ctrlchange select {
  height: 50px; /* 60*/
  width: 130px;
  /*background: transparent;*/
  padding: 0;
  cursor: pointer;
}

.ctrlchange select option {
/*padding-bottom: 15px;*/
}  

.input-container {
  /*float: left;
  display: inline-block;*/
  margin-right: 10px;
  line-height: 0;
  position: relative;
  width: 215px;
  margin-right: 20px;
  margin-bottom: 10px;  
}

.input-container input {
  position: relative;
  /*z-index:500;*/
}

.input-container label {
  /*z-index:-5;*/
  /*display: inline-block;
  width: 100%;*/
  height: 0;
  /*position: absolute;*/
  bottom: 10px;
}

div#channelinfo *,
div.ctrlchange.slider span,
.ctrlchange label {
  display: block;
  background: darkgrey; /* #EEE */
  color: black;
  font-size: 12px;
  position: relative;
  z-index: 1;
  bottom: -1px;
  left: 0;
  padding: 2px;
}


div#channelinfo * {
  margin-right: 5px;
  margin-bottom: 8px;
  display: inline-block;
}

div.ctrlchange.slider span {
  /*display:block;
  font-size: 12px;
  color:white;
  margin-bottom: 20px;
  z-index: -500;*/
  border-top: 1px solid black;
}


div.ctrlchange.slider.horizontal .infoContainer span {
  padding: 3px 0 3px 0;
  bottom: 0px;
}

.ctrlchange.button.contact label {
  /*width: 200px;*/
}

.infoContainer label {
    background-color: #EEE;  
    color: #666666;
    text-align: center;
    font-size: 14px;
}

.ctrlchange.slider.horizontal label { 
  /*float: left; right 
  position: relative;
  z-index: 2;
  margin-right: 5px;*/

  float: left;
  left: -24px;
  width: 20px;
  height: 26px;
  bottom: 30px;  
  vertical-align: middle;
  line-height: 26px;
}

.ctrlchange.slider.horizontal input {
  float:left;
  display: inline-block;
  position: relative;
  z-index:-1;
}

.ctrlchange.slider.vertical label {
  /*height:60px;*/
  vertical-align: middle;
  line-height: 30px;
  text-align: center;
}

#pattern-editor table thead {
  display:none;
}

ul.menu  {
  margin: 0;
  /*margin-bottom: 20px;*/
  padding: 0;
  /*position: fixed;*/
  z-index: 50;
  position: relative;
  height: 70px;
  /*clear:both;*/  
  float:left;
}

ul.menu li {
  display: inline-block;
  float:left;
  margin-right: 5px;
}

ul.menu li a {
  display: inline-block;
  /*float:left;*/
  /*color: white;*/
  text-decoration: none;
  background: #EEE;
  color: #555;
  padding: 0px 5px 0 5px;
  height: 50px;
  vertical-align: middle;
  line-height: 50px;
  width: 50px;
  text-align: center;
}

.menu-location {
  height: 60px;
  display:block;
  width: 100%;
  clear: both;
}

#menu-at-modulation {
  display: none;
}

ul.menu#fixed {
  position:fixed;
}

ul.menu#fixed li {
  float:none;  
  display:block;
  margin: 0px 0 15px 0;
}
/*
div#channelinfo * {
  display: inline;
} */

.waiting #instructions {
  position: relative;
}




div#channelinfo div#channelname {
  font-size: 30px;
}

#slider1, .ctrlchange.id1 {
  clear:both;
}

select.multi {
  /*height: 200px;*/
  width: 100px; /*115*/
}

#pattern-sequencer {
  width: 200px; /*289 - 230*/
  margin-right: 0;
}

#pattern-sequencer a.trigger-button {
  /*width: 50%;
  display: inline;*/
}

#pattern-sequencer .select-container {
  /*width: 100%;
  float:left;*/
  margin-right: 5px; /*10*/
  display: inline-block;
  width: 43%;  
}

#pattern-sequencer .select-container.played {
  /*float:right;*/
}

.off {
  background: red !important;
}

body.control #left,
body.control ul.menu {
  display:none;
}

body.control #modifiers,
body.control #channelinfo {
  margin-left: 0;
}

body.channel0 ul.menu #tweak-menu {
  display: none;
}

#id999 { /* bpm input */
  clear:both;
}
div#channelinfo #bpm,
div#channelinfo #insname, 
div#channelinfo #sessionname {
  top: 4px;
}

div#channelinfo #bpmNO {
  /*height: 37px; */
  padding: 0;
  margin-right: 0;
  bottom: 1px;
  display: inline-block !important;
  /*float:right;*/
  width: 37px;
  height: 37px;
  vertical-align: middle;
  line-height: 18.5px;
  text-align: center;  
}

div#channelinfo #channelname {
  /*margin-bottom: 8px;
  display: inline-block;*/
} 

body {
  padding-right: 0;
}

#left, #right {
  /*width: 5%;*/
  float:left;
  display:inline-block;
  position:relative;
}  

#right {
  float:right;  
  /*width: 95%;*/
  width: -moz-calc(100% - 80px);
  width: -webkit-calc(100% - 80px);
  width: calc(100% - 80px);
}  


body.control #right {
  width: 100%;
}

body.control #id699,
body.control #id999,
body.control #thesessions {
  top: -40px;
}

#tips {
  color: white;
  margin-left: 15px;
  /*margin-bottom: 40px;*/
}

#tips h2 {
  margin-bottom: 0;
}

.cont-noui-slider {
  /*width: 60px;*/
  height: 140px; /*200*/
}

.cont-noui-slider.noUi-vertical {
    width: 26px;
}

.cont-noui-slider .noUi-handle {
    width: 36px !important;
    height: 24px !important;
}    

.ctrlchange.slider.noui .noUi-connect {
    transition: background 0ms;
}

.ctrlchange.slider.noui input {
  height: 26px;
  min-width: 26px;
  width: 26px;
  text-indent: 2px;
}

.ctrlchange.slider.noui {
  margin-right:30px;
  margin-bottom:30px;
}

.ctrlchange.slider.noui span {
  width: 22px;
}  

.ctrlchange#id2 {
  display: inline-block;
}

.ctrlchange#id4 {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
}



.mutes {
  width: 40px;
  height: 40px;
}

#channelinfo a {
  padding: 0;
  margin: 0;
}

#midiIn {
  display:none;
}

.control #midiIn {
  display:block;
}


/* session 1: ins pitch */
.session1 #thesessions {
  display:none;
}



/* session 5: Electropixel #6 */
body.samples ul.menu#fixed li#tweak-menu,
body.samples ul.menu#fixed li#tweak-menu2,
.channel8.session5 #thekits,
.channel7.session5 #thekits,

.channel8.session5 #thepresets,
.channel7.session5 #thepresets,
/*.channel8.session5 #button991,
.channel7.session5 #button991,*/

.channel5.session5 #thekits,
.channel3.session5 #thekits,
.channel1.session5 #thekits,
.session5 #button995,
.session5 #button991,
.session5 #avail-ptns,
.session5 #played-ptns,
.session5 .ctrlchange#ctrl1, /* osc1 vol */
.session5 .ctrlchange#ctrl3,  /* osc2 vol */
.session5 .ctrlchange#ctrl6, /* env attack */
.session5 .ctrlchange#ctrl12, /* filter eg amount */
.session5 .ctrlchange#ctrl15, /* filter env sustain */
.session5 .ctrlchange#ctrl16, /* filter env release */
.session5 .ddmenucont,
.session5 li#tweak-menu a
 {
  display:none;
}

.ddmenucont {
    width: 65px;
    height: 199px;
    position: relative;
    float: left;
    margin-right: 20px;
}

.session5 #ctrl5 { /* osc2 pitch */
  clear:both;
}

.ctrlchange.ddmenu select {
  width: 60px;
}

body.synth .noUi-connect,
#thepresets label,
#button991 label
/*input#preset-name,
select#presets option[selected]*/ {
  background: darkgrey !important; /* E16C25 - #AF5D25: marron */
}

/*
 {
    background: #3FB8AF;
    box-shadow: inset 0 0 3px rgba(51,51,51,.45);
    -webkit-transition: background 450ms;
    transition: background 450ms;
}*/



#thepatterns label,
#button995 label
/*input#pattern-name,
select#patterns option[selected]*/ {
  /*background: #000 !important; /* #B6BD79: pale green 
  color: #777;*/
  background: #333 !important;
  color: #999;  
}


#pattern-editor td {
  /*background: #000;
  color: #777;*/
  /*background: #333;
  color: #999;  */
}

#thekits label {
  background: #B6BD79 !important;  
}

/* remove bpm from conductor controller */
#ctrl999 {
  display:none;
}